.custom-shape-divider-top-1595257468 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1595257468 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1595257468 .shape-fill {
  fill: #f29e2173;
}
